@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #d3d3d3; /* Light Gray track */
--sb-thumb-color: #808080;/* Charcoal thumb */
  --sb-size: 12px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
      width: var(--sb-size);
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
      background: var(--sb-track-color);
      border-radius: 3px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: var(--sb-thumb-color);
      border-radius: 3px;
    }
}